<section class="container">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">

                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <!-- BUTTON PARA RETROCESO-->
                            <!-- <br>
                            <br>
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group me-2" role="group" aria-label="First group">
                                  <a routerLink="/recibo"> <button type="button"
                                        class="btn btn-outline-secondary border-2 border_tem"><b><i>Regresar Anterior</i></b></button></a>
                                </div>
                                <div class="btn-group me-2" role="group" aria-label="First group">
                                    <a routerLink="/doc-recibo">
                                      <button type="button" class="btn btn-outline-info border-2 border_tem">
                                        <b><i>Document</i></b>
                                      </button>
                                    </a>
                                  </div>
                            </div> -->
                            <div class="card shadow-lg border-3 rounded-lg mt-5 border border-4 border_tem">

                                <div class="card-header"><h2 class="text-center font-weight-light my-4"><b class="text-muted"><i>Recibo</i></b></h2></div>
                                <div class="card-body">
                                    <form>
                                        <div class="row mb-3">

                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control  border_tem" id="cuenta" name="cuenta" type="number" placeholder="Enter your first name" />
                                                    <label for="inputFirstName"><i>N° Cuenta</i></label>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input class="form-control  border_tem" id="cuotamensual" name="cuotamensual" type="number" placeholder="Enter your last name" />
                                                    <label for="inputLastName"><i>Cuota Mensual</i></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control  border_tem" id="nombrecliente" name="nombrecliente" type="text" placeholder="Enter your first name" />
                                                    <label for="inputFirstName"><i>Nombre del Cliente</i></label>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input class="form-control  border_tem" id="domicilio" name="domicilio" type="text" placeholder="Enter your last name" />
                                                    <label for="inputLastName"><i>Domicilio</i></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control  border_tem" id="fecha" name="fecha" type="date" placeholder="Create a password" />
                                                    <label for="inputPassword"><i>Fecha</i></label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control  border_tem" id="persona" name="persona" type="text" placeholder="Confirm password" />
                                                    <label for="inputPasswordConfirm"><i>Persona</i></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control  border_tem" id="ciudad" name="ciudad" type="text" placeholder="Create a password" />
                                                    <label for="inputPassword"><i>Ciudad</i></label>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control  border_tem" id="precio" name="precio" type="number" placeholder="Create a password" />
                                                    <label for="inputPassword"><i>Precio</i></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control  border_tem" id="equipos" name="equipos" type="text" placeholder="Create a password" />
                                                    <label for="inputPassword"><i>Equipos</i></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-grid gap-2">
                                            <button class="btn btn-outline-secondary border-2 border_tem"><i routerLink="/doc-recibo">Agregar Registro</i></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="login.html"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>
<br>
