
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-2">
                <h3 class="mt-4"><b class="text-muted"><i>Lista de Rentas</i></b></h3>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                      <a routerLink="/plan-renta"> <button type="button"
                            class="btn btn-outline-secondary border-2 border_tem"><b><i>Registrar</i></b></button></a>
                    </div>
                </div>
                <br>
                <div class="card mb-4 border border-3 border_card">
                    <div class="card-header text-muted">
                        <i class="fas fa-table me-1"></i>
                        Tabla de Registros
                    </div>
                    <div class="card-body">
                      <table class="table caption-top">
                        <thead>
                          <tr>
                            <th scope="col">Cuenta</th>
                            <th scope="col">Cuota Mensual</th>
                            <th scope="col">Nombre Cliente</th>
                            <th scope="col">Domicilio</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Persona</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Equipos</th>
                            <th scope="col">Opción</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">143</th>
                            <td>123412</td>
                            <td>Jhon Herick Hector Gomez Gomez</td>
                            <td>Calle S/N</td>
                            <td>27-02-22</td>
                            <td>Fisica</td>
                            <td>Villaflores</td>
                            <td>192494</td>
                            <td>Compu camara</td>
                            <td>Document</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
