
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-2">
                <h3 class="mt-4"><b class="text-muted"><i>Lista de Rentas</i></b></h3>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                      <a routerLink="/plan-renta"> <button type="button"
                            class="btn btn-outline-secondary border-2 border_tem"><b><i>Registrar</i></b></button></a>
                    </div>
                    <div class="btn-group me-2" role="group" aria-label="First group">
                        <a routerLink="/doc-renta"> <button type="button"
                              class="btn btn-outline-info border-2 border_tem"><b><i>Document</i></b></button></a>
                      </div>
                </div>
                <br>
                <div class="card mb-4 border border-3 border_card">
                    <div class="card-header text-muted">
                        <i class="fas fa-table me-1"></i>
                        Tabla de Registros
                    </div>
                    <div class="card-body">
                      <table class="table caption-top recibo-t">
                        <thead>
                          <tr>
                            <th scope="col">Reccibo No°</th>
                            <th scope="col">Fecha de Expedicion</th>
                            <th scope="col">Quien Entrega</th>
                            <th scope="col">Telefono del Cliente</th>
                            <th scope="col">Monto Entregado</th>
                            <th scope="col">Cantidad en Letras</th>
                            <th scope="col">Concepto</th>
                            <th scope="col">Quien Entrega</th>
                            <th scope="col">Quien Recibe</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>2022-07-14</td>
                            <td>Moises Cervantes</td>
                            <td>932 123 1212</td>
                            <td>1,000</td>
                            <td>Mil Pesos 00/100 M.N.</td>
                            <td>Anticipo pantalla para laptop</td>
                            <td>Moises Cervantes</td>
                            <td>Carlos Solis</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
